@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tanmoy Chowdhury<br />
    Senior Programmer Analyst<br />
    IT, Richland County Government<br />
    <abbr title="Phone">P:</abbr>
    803.576.1502
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:chowdhury.tanmoy@richlandcountysc.gov">chowdhury.tanmoy@richlandcountysc.gov</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>